{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="{{ post.modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ post.title }}</h2>
                        <hr class="star-primary">
						{% if post.img.show_modal == true %}
                        <img src="{{ site.baseurl }}/{{ post.img.path }}" class="img-responsive img-centered" alt="">
						{% endif %}
                        {{ post.content }}
						<br>
						{% if post.button.enabled == true %}
                        <button style="background-color: {{ post.button.color.bg }};color:{{ post.button.color.fg }};" type="button" class="btn btn-default" <button onclick="window.location.href='{{ post.button.url }}';"><i class="fa {{post.button.icon}}"></i> Visit</button>
						{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}